@page
@model GroceryListRazorPage.Pages.Groceries.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h3>Add a New Item</h3>
<p>* Required</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Grocery.ItemName" class="control-label">Item*</label>
                <input asp-for="Grocery.ItemName" class="form-control" />
                <span asp-validation-for="Grocery.ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grocery.Quantity" class="control-label"></label>
                <input asp-for="Grocery.Quantity" class="form-control" />
                <span asp-validation-for="Grocery.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grocery.Unit" class="control-label"></label>
                <select asp-for="Grocery.Unit" class="form-control">
                  <option value="" selected></option>
                  <option value="Ounces">Ounces</option>
                  <option value="Gallons">Gallons</option>
                  <option value="Pounds">Pounds</option>
                  <option value="Packs">Packs</option>
                </select>
                <span asp-validation-for="Grocery.Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
